#container {
    width: 80%;
    height:auto;
    margin: 20px 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
}

.searchicon {
    height: 35px;
    width: 320px;
    display: flex;
    background: #f2f2f2;
    border-radius: 5px;
    border: 1 px solid #4facfe;
    margin-bottom: 25px;
}

.searchicon>input  {
    height: 82%;
    width: 250px;
    color: #000;
    font-size: 16px;
}

#result{
    width:100%;
    height:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.searchicon>#btn{
    font-size: 18px;
    height: 100%;
}